<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form #loginForm = "ngForm" (submit) = "loginDetails(loginForm)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input 
            type="email" 
            name="email"
            class="form-control" 
            id="exampleInputEmail1"
            ngModel
            required
            minlength="6"
            [ngClass] = "{'is-invalid':loginForm.controls.email?.invalid && 
                                       loginForm.controls.email?.touched  
                          }"
            placeholder="Enter email">
          
          <div class="invalid-feedback">
            <label *ngIf = "loginForm.controls.email?.errors?.required"> Enter your email address </label>
            <label *ngIf = "loginForm.controls.email?.errors?.minlength"> length of  email address is atleast 6 characters </label>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input 
            type="password" 
            name = "password"
            class="form-control" 
            id="exampleInputPassword1"
            required
            minlength="3"
            #pwdVar = "ngModel"
            ngModel 
            [ngClass] = "{'is-invalid':pwdVar.invalid && pwdVar.touched}"
            placeholder="Password">
            <div class="invalid-feedback">
              <label *ngIf = "pwdVar.errors?.required"> Enter your password </label>
              <label *ngIf = "pwdVar.errors?.minlength"> length of  password is atleast 3 characters </label>
            </div>
        </div>
        
        <div class="form-group form-check">
          <input 
            type="checkbox" 
            class="form-check-input" 
            id="exampleCheck1"
            >
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        {{loginForm.invalid}}
        <button type="submit" class="btn btn-primary" [disabled] ="loginForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>
<!-- 
 ngForm =  formModel{
    controls:{
      email:{},
      password:{
        touched:true,
        untouched:false,
        prestine:true,
        dirty:false,
        valid:true,
        invalid:false
      }
    }
  }

 -->