<!-- <h3 [style.backgroundColor] = "fontColor">Building Angular {{title}} {{ 4 == 1 + 3}}</h3>

<input type="text" (input)="runTheCode($event.target.value)" >
{{title}}

<input type="text" (keyup.enter)="runTheCode($event.target.value)" >

<input type="text" #username (input)="runTheCode(username.value)" >

<input type="text" [(ngModel)]="emailDetails" placeholder="username" >
{{emailDetails}}
<input type="text" [ngModel]="emailDetails" (ngModelChange) = "test()" placeholder="username" >
<p *ngIf = 'false' [ngClass] = "{'is_invalid':true}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia corporis ea, animi nostrum expedita nisi, excepturi quae maiores quo itaque ipsam magni architecto dolorum omnis blanditiis maxime soluta natus velit?</p>
<select (click)="chooseState($event.target.value)" >
    <option *ngFor = "let state of states">{{state}}</option>;
</select> -->
<!-- <app-templatedrivenform></app-templatedrivenform> -->

<!-- <app-reactiveform [emailDetails]= 'emailDetails'></app-reactiveform> -->
<a routerLink = "templatedrivenform"> 
    template driven form
</a>
<a routerLink = "reactiveform">
    Reactive Form
</a>
<router-outlet></router-outlet>