
<div class="container">
  <form [formGroup] = "customerInfo">
    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input 
          type="text" 
          formControlName = "firstName"
          [ngClass] = "{'is-invalid': customerInfo.controls.firstName.invalid &&
                                      customerInfo.controls.firstName.touched}"
          class="form-control" 
          placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" 
        formControlName = "lastName"
        class="form-control" 
        placeholder="LastName">
    </div>
    <!-- Rating -->
    <div class="form-group">
      <label for="exampleInputPassword1">Rating</label>
      <input type="number" 
        formControlName = "rating"
        min="1"
        max="5"
        [ngClass] = "{'is-invalid': customerInfo.controls.rating.invalid &&
                                    customerInfo.controls.rating.touched}"
        class="form-control" 
        placeholder="Rating">
    </div>
    <!-- notification throug email or phone -->
    <div class="form-check">
      <input 
        formControlName = "notification"
        class="form-check-input" 
        type="radio" 
        id="exampleRadios1" 
        (click) = "verification()"
        value="email" checked>
      <label class="form-check-label" for="exampleRadios1">
        Email
      </label>
    </div>
    <div class="form-check">
      <input 
          formControlName = "notification"
          class="form-check-input" 
          type="radio" 
          id="exampleRadios2" 
          (click) = "verification()"
          value="phone">
      <label class="form-check-label" for="exampleRadios2">
        Phone
      </label>
    </div>
    <!--end of  notification -->
    <!-- phone number  -->
    <div class="form-group">
      <label for="exampleInputPassword1">Rating</label>
      <input type="number" 
        formControlName = "phone"
        min="1"
        max="5"
        [ngClass] = "{'is-invalid': customerInfo.controls.phone.invalid &&
                                    customerInfo.controls.phone.touched}"
        class="form-control" 
        placeholder="Phone number">
    </div>
    <!-- end of phone number -->
    <!-- Email -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input 
          type="text" 
          formControlName = "email"
          [ngClass] = "{'is-invalid': customerInfo.controls.email.invalid &&
                                      customerInfo.controls.email.touched}"
          class="form-control" 
          placeholder="Enter email">
    </div>
    <!-- end of email  -->
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- <button class="btn btn-primary" (click) = "changeDetection()">test</button> -->
</div>  
<a routerLink = "sample"> sample</a>
<router-outlet></router-outlet>